/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;

    color: white;
}

/* 
    GENERAL
*/
.bg-dark {
    background-color: #0F0E17;
}

.color-pink {
    color: #E53170;
}

.color-orange {
    color: #FF8A06;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* 
    HEADER
*/
h1 {
    margin: 30px 0;
}

/* 
    MAIN
*/
h2 {
    margin: 20px 0;
}

img {
    height: 200px;
}

img.float-left {
    margin-right: 15px;
    margin-bottom: 15px;
}

img.float-right {
    margin-left: 15px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}